.Header{
    color: ivory;
    padding: 3%;
    background-color: darkblue;
    
   
}

/* .subheader {
    background: repeating-linear-gradient(45deg, black, transparent 100px);
    padding-bottom: 2%;
    
  } */

  .Header::before{
    content: ' ';
    display: block;
    padding: 1%;
    background-color: lightgoldenrodyellow;   
}
.Header::after{
    content: ' ';
    display: block;
    padding: 1%;
    background-color: lightgoldenrodyellow;   
}
  