.grid-container{
    margin-left: 10%;
    display: grid;
    grid-template-columns: minmax(320px, 2fr);
    /*  grid-template-columns: repeat(auto-fill, minmax(120px, 2fr));  */
    grid-auto-flow: dense;
}
.grid-item{
    padding: 5%;
    /* grid-column-end: span 2; */
    
}
.grid-item-landscape{
    padding: 5%;
    /* grid-column-end: span 2;  */
}
@media (min-width: 600px) {
    /* For tablets: */
    .grid-container{
        margin-left: 10%;
        display: grid;
        grid-template-columns: 2fr 2fr;
        /* grid-template-columns: repeat(auto-fill, minmax(240px, 2fr)); */
        grid-auto-flow: dense;
    }

    .grid-item{
        padding: 5%;
        
    }
    .grid-item-landscape{
        padding: 5%;
        grid-column-end: span 2; 
    }
  }
  @media (min-width: 768px) {
    /* For desktop: */
    .grid-container{
        margin-left: 10%;
        display: grid;
        grid-template-columns: 2fr 2fr 2fr;
        /* grid-template-columns: repeat(auto-fill, minmax(240px, 2fr)); */
        grid-auto-flow: dense;
    }

    .grid-item{
        padding: 5%;
        
    }
    .grid-item-landscape{
        padding: 5%;
        grid-column-end: span 2; 
    }
  }